

/admin.php
/index.php

Thumbs.db
_notes
.htaccess
nbproject/
assets/*
files/*
protected/runtime/
protected/runtime/*
protected/config/*.php
!protected/config/*.sample.php
!protected/config/params.php
!empty
temp/
*.log
.DS_Store
._*
*~